<?xml version="1.0"?>

<launch>
    <arg name="message" default="This is a default message argument from pubsub.launch" doc="message argument"/>

    <group>
    <node pkg = "beginner_tutorials" type = "talker" name = "publisher_node" output = "screen" />
        <param name="message" value="$(arg message)" />
    </group>

    <node pkg = "beginner_tutorials" type = "listener" name = "subscriber_node" output = "screen" />

</launch>